.page-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--clr-border);
  margin-block: 2rem;
  padding-block: 0.5rem;

  h1 {
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    font-weight: var(--fw-heading);
    margin: 0;
  }

  .page-heading__toolbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 50vw;

    fieldset {
      display: flex;
      align-items: center;
      gap: 1rem;
      
      position: relative;

      border: none;
      padding: 0;

      label {
        flex-shrink: 0;
      }
    }

    #page-heading__toolbar-category-filter {
      display: flex;
      align-items: center;
      justify-content: space-between;

      border: 1px solid var(--clr-border);
      border-radius: 99rem;
      cursor: pointer;
      flex-shrink: 0;
      padding: 0.5rem 1rem;
      width: 15rem;
    }

    #page-heading__toolbar-categories {
      display: grid;

      position: absolute;
      top: calc(100% + 0.25rem);
      left: calc(50%);
      z-index: 1;

      background-color: var(--clr-background);
      border: 1px solid var(--clr-border);
      border-radius: 1rem;

      .page-heading__toolbar-category-option {
        background: none;
        border: none;
        padding: 1rem;

        &:hover {
          background-color: var(--clr-card);
        }
      }
    }

    .page_heading__button-container {
      display: flex;
      gap: 1rem;
    }
  }
}

.hidden {
  display: none !important; 
}