h1 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 0;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding-top: 20px;
}

/* First section */
.address-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: start;
  width: 1100px;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  width: 473px;
}

.field-wrapper label {
  font-size: 20px;
  margin-bottom: 15px;
}

.field-wrapper input {
  width: 473px;
  height: 47px;
  font-size: 18px;
  padding: 20px;
  border: 1px solid var(--clr-neutral-300);
  border-radius: 25px;
  background-color: var(--clr-neutral-200);
}

.field-wrapper input:focus {
  outline: 2px solid var(--clr-green);
}

/* Second section */
.payment-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 1100px;
}

.radio-wrapper {
  text-align: center;
}

.payment-section input[type="radio"] {
  display: none;
}

.payment-section label {
  display: block;
  width: 473px;
  height: 47px;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: 1px solid #000;
  border-radius: 25px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.payment-section label:hover {
  background-color: var(--clr-neutral-200);
}

.payment-section input[type="radio"]:checked + label {
  background-color: var(--clr-green);
  color: #fff;
  border-color: var(--clr-green);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

/* Third section */

.summary-card {
  display: flex;
  justify-content: center;
  width: 1050px;
}

.modal-button {
  width: 347px;
  height: 48px;
  padding: 10px 0px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 8px;
  background-color: var(--clr-green);
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.modal-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--clr-green);
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: white;
  color: var(--clr-green);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.hidden {
  display: none;
}

.blur-background {
  filter: blur(4px);
} */
