.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
}

.product {
  background-color: var(--clr-card);
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 24px;
  max-width: 263px;
}
.svg-info {
  fill: var(--clr-green);
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.Add-to-cart-button {
  background-color: var(--clr-green);
  color: #fff;
  font-family: var(--ff-inter);
  border: none;
  border-radius: 20px;
  font-size: var(--fs-100);
  font-weight: 600;
  width: 124px;
  height: 27px;
}
.svg-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-200);
  font-family: var(--ff-inter);
  font-weight: 600;
}
.title-price p {
  color: var(--clr-green);
  margin-top: 10px;
}
.product h3 {
  width: 100%;
  white-space: nowrap;
  font-family: var(--ff-inter);
  overflow: hidden;
  text-overflow: clip;
  display: block;
  line-height: 1.5em;
  max-height: 3em;
  font-size: var(--fs-200);
  margin-bottom: 0px;
  word-wrap: break-word;
}
.product img {
  width: 100%;
  max-width: 200px;
  height: 150px;
  object-fit: contain;
}
.hidden {
  display: none;
}

.product-description {
  font-size: var(--fs-100);
  font-weight: 400;
  font-family: var(--ff-poppins);
  color: var(--clr-neutral-900);
  margin-top: 10px;
  line-height: 1.4;
  overflow: auto;
  height: 250px;
}
