.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
}

.product {
  background-color: var(--clr-card);
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 24px;
  /* max-width: 263px; */
}
.svg-info {
  fill: var(--clr-green);
  width: 2.5rem;
  aspect-ratio: 1;
  cursor: pointer;
}
.add-to-cart-button {
  position: relative;
  background-color: var(--clr-green);
  color: #fff;
  font-family: var(--ff-inter);
  border: none;
  border-radius: 20px;
  font-size: var(--fs-btn-small);
  font-weight: 600;
  overflow: clip;
  padding: 0.5rem 1rem;
}
.button-text {
  position: relative;
  z-index: 1;
  transition: opacity 200ms ease;
}
.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: var(--clr-accent);
  font-size: 24px;
  z-index: 2;
}
.add-to-cart-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 10px solid var(--clr-background);
  transition: left 200ms ease;
}
.add-to-cart-button.clicked::before {
  left: 0;
}
.add-to-cart-button.clicked .button-text {
  opacity: 0;
}
.add-to-cart-button.clicked .checkmark {
  opacity: 1;
  transition: opacity 200ms ease 200ms;
}
.add-to-cart-button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
.add-to-cart-button.clicked:disabled {
  cursor: default;
  opacity: 1;
}
.svg-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-product);
  font-family: var(--ff-inter);
  font-weight: 600;
}
.title-price p {
  color: var(--clr-green);
  margin-top: 10px;
}
.product h3 {
  width: 100%;
  white-space: nowrap;
  font-family: var(--ff-inter);
  overflow: hidden;
  text-overflow: clip;
  display: block;
  line-height: 1.5em;
  max-height: 3em;
  font-size: var(--fs-product);
  margin-bottom: 0px;
  word-wrap: break-word;
}
.product img {
  width: 100%;
  max-width: 200px;
  height: 150px;
  object-fit: contain;
}
.hidden {
  display: none;
}

.product-description {
  font-size: var(--fs-product);
  font-weight: 400;
  font-family: var(--ff-poppins);
  color: var(--clr-neutral-900);
  margin-top: 10px;
  line-height: 1.4;
  overflow: auto;
  height: 250px;
}
