/* Base styles (apply to all screen sizes) */
.graphics-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 2rem;
}

.graphics-image {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 8px;
}

.graphics-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem; /* Reduced from 1rem to bring text closer together */
  text-align: center;
  font-size: var(--fs-400);
  width: 100%;
}

.graphics-text,
.welcome-text {
  font-family: var(--ff-poppins);
  font-weight: bold;
  color: var(--clr-text);
  line-height: 1.6;
  max-width: 800px;
  margin-top: 0.5rem;
}

.welcome-text {
  margin-top: 1rem; /* Reduced from 1.5rem to bring text closer together */
}

.circle-background {
  position: absolute;
  background-color: #fcebec;
  border-radius: 50%;
  z-index: -1;
}

/* Mobile styles (up to 480px) */
@media (max-width: 480px) {
  .graphics-image {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .graphics-text,
  .welcome-text {
    font-size: var(--fs-100);
    margin-right: 0;
  }
  .graphics-text-container {
    gap: 0.5rem;
  }
  .welcome-text {
    margin-top: 0.5rem;
  }
  .circle-background {
    width: 20vw;
    height: 20vw;
    top: 30%;
    right: 15%;
  }
}

/* Tablet styles (481px to 768px) */
@media (min-width: 481px) and (max-width: 1340px) {
  .graphics-container {
    gap: 2rem;
  }
  .graphics-image {
    margin-bottom: 0;
  }
  .graphics-text-container {
    align-items: center;
  }
  .graphics-text,
  .welcome-text {
    font-size: var(--fs-200);
    margin-right: 0;
  }
  .circle-background {
    display: none;
    width: 30vw;
    height: 30vw;
    top: 20%;
    right: 5%;
  }
}

/* New media query for gradual font size reduction */
@media (max-width: 1540px) {
  .graphics-text,
  .welcome-text {
    font-size: var(--fs-300);
  }
}

@media (max-width: 1340px) {
  .graphics-text,
  .welcome-text {
    font-size: var(--fs-200);
  }
}

/* Desktop styles (above 768px) */
@media (min-width: 1340px) {
  .graphics-container {
    flex-direction: row;
    gap: 2rem;
  }
  .graphics-image {
    max-width: 50%;
    margin-left: 7%;
  }
  .graphics-text,
  .welcome-text {
    margin-right: 35%;
  }
  .circle-background {
    width: 25vw;
    height: 25vw;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
  }
}
