.home-products-title {
  font-size: 4.03vw;
  font-family: var(--ff-poppins);
  font-weight: 400;
  text-align: center;
  margin: 30px 0px;
}
.home-products-button {
  font-size: 1.67vw;
  font-family: var(--ff-inter);
  font-weight: 600;
  color: var(--clr-neutral-100);
  background-color: var(--clr-green);
  border-radius: 20px;
  width: 27.57vw;
  height: 3.68vw;
  border: none;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  margin-top: 50px;
}
.homeproduct {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
}
@media (max-width: 480px) {
  .homeproduct {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    justify-content: center;
  }
}
