.content-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.product {
  background-color: var(--clr-card);
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  text-align: center;
}
