.cart-container {
    display: flex;
    justify-content: space-between;
}

.cart-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    gap: 20px;
    width: 51.3125rem;
    height: 9.9375rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    border: 2px solid #E6E6E6;
    background: #FAFAF5;
}

.item-image {
    width: 9.5rem;
    height: 9.5rem;
    padding: 5px;
    margin-right: 20px;
}

.item-cart-not-buy {
    opacity: 0.5;
}

.btn-toggle {
    display: inline-flex;
    padding: 0.46875rem 1.375rem 0.40625rem 1.4375rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    border: 1px solid #426B1F;
    background: #FAFAF5;
}

.btn-remove {
    display: inline-flex;
    padding: 0.46875rem 1.6875rem 0.40625rem 1.6875rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    background: #426B1F;
    color: white;
}


.order-summary-card {
    width: 24.6875rem;
    height: 18.0625rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    border: 2px solid #E6E6E6;
    background: #FAFAF5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.continue-to-payment-btn {
    display: inline-flex;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    border-radius: 0.5rem;
    background: #426B1F;
    color: white;
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.summary-line {
    display: flex;
    justify-content: space-between;
}

.summary-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.quantity-input {
    width: 40px;
}

.plus, .minus {
    cursor: pointer;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cart-container {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 767px) {
    .cart-container {
        flex-direction: column;
        gap: 80px;
    }
    .cart-item {
        width: 25rem;
        height: 18rem;
    }
    .item-controls {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-right: 60px;
    }
}