/* Default styles (for large screens) */
.hero-container {
  grid-column: 1 / -1;
  position: relative;
  width: 100%;
  height: calc(
    100vh - var(--header-height)
  ); /* Full viewport height minus header */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Ensure vertical centering */
  align-items: center;
  z-index: 1;
  animation: fadeIn 1s ease-in;
  overflow: hidden; /* Prevent overflow outside the container */
}

.heroimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers full container */
  z-index: -1;
}

.hero-heading {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--clr-neutral-900);
  font-weight: 800;
  font-family: var(--ff-poppins);
  text-align: center;
  margin-bottom: 20px; /* Ensure space below the heading */
}

.hero-heading-2 {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--clr-neutral-900);
  font-weight: 800;
  font-family: var(--ff-poppins);
  margin-bottom: 100px;
  visibility: hidden; /* Initially invisible */
  opacity: 0; /* Initially invisible */
  transition: opacity 0.5s ease; /* Smooth transition for fading in */
}

.hero-heading,
.hero-heading-2 {
  font-size: var(--fs-hero-heading);
  line-height: 0.6; /* Adjust line height for spacing */
}

.line {
  display: inline-block; /* Ensure each line is treated as a block */
  border-right: none; /* Initially no cursor */
  padding-right: none; /* No padding */
}

.line.blinking {
  border-right: 2px solid var(--clr-neutral-900); /* Cursor effect */
  padding-right: 0.5em; /* Space for the cursor */
  animation: blink-caret 0.75s step-end infinite; /* Blinking effect */
}

.hero-button {
  position: relative;
  background-color: var(--clr-green);
  font-family: var(--ff-inter);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 1rem 4rem; /* Adjust padding */
  font-size: var(--fs-btn-large);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: scaleButton 2s infinite alternate; /* Scale animation */
}

.hero-button:hover {
  background-color: var(--clr-green);
}

@media (max-width: 1150px) {
  .hero-heading,
  .hero-heading-2 {
    font-size: var(--fs-500);
  }
}

@media (max-width: 950px) {
  .hero-heading,
  .hero-heading-2 {
    font-size: 45px;
  }
}

/* Media Query for 768px (Tablets) */
@media (max-width: 768px) {
  .hero-container {
    height: calc(80vh - var(--header-height)); /* Adjust height for tablets */
  }

  .line {
    font-size: var(--fs-400); /* Adjust font size for tablet */
  }

  .heroimg {
    object-fit: cover; /* Ensure image fits well in tablet view */
  }

  /* Bring heading and button closer for tablets */
  .hero-heading {
    margin-bottom: -50px;
  }

  .hero-button {
    margin-top: 10px;
    font-size: var(--fs-btn-small);
  }
}

/* Media Query for 550px (Mobile Phones) */
@media (max-width: 550px) {
  .line {
    font-size: var(--fs-300);
  }

  .hero-button {
    font-size: var(--fs-btn-small); /* Adjust font size for mobile */
    /* padding: 1vw 4vw; Adjust padding for mobile */
  }

  .heroimg {
    object-fit: cover; /* Ensure image fits well in mobile view */
  }

  /* Bring heading and button closer for mobile */
  .hero-heading {
    margin-bottom: -65px; /* Reduced margin for closer text and button */
  }

  .hero-button {
    margin-top: 5px; /* Reduce margin between button and text */
  }
}
